version: 2
jobs:
  plan:
    docker:
      - image: hashicorp/terraform:light
    steps:
      - checkout
      - run:
          name: Set up Terraform
          command: terraform init -backend-config=terraform/backend.tfvars -input=false terraform
      - run:
          name: Validate Terraform config
          # https://discuss.circleci.com/t/create-separate-steps-jobs-for-pr-forks-versus-branches/13419/2
          command: |
            if [[ ((`echo $CIRCLE_BRANCH | grep -c "pull"` > 0))]]; then
              echo "This is from a fork."
              terraform validate terraform
            else
              terraform plan -input=false terraform
            fi

      - persist_to_workspace:
          root: .
          paths:
            - ./*

  apply:
    docker:
      - image: hashicorp/terraform:light
    steps:
      - attach_workspace:
          at: .

      - run:
          name: Deploy the full environment
          command: terraform apply -input=false -auto-approve terraform

workflows:
  version: 2

  validate_and_deploy:
    jobs:
      - plan
      - apply:
          filters:
            branches:
              only: master
          requires:
            - plan

experimental:
  notify:
    branches:
      only:
        - master
